.hero {
    height: 55vh;
    width: 100%;
    background-color: purple;
    background-image: url('../../../assets/hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}